@font-face {
    font-family: 'TT Hoves'; /* Назва шрифта */
    src: url('./ecsstractor/ecsstractor.txt') format('woff2'), /* Шлях до шрифта та формати */
         url('./ecsstractor/SCSS.sublime-package') format('woff');
    font-weight: 400; /* Вага шрифта (наприклад, 400 - регулярний) */
    font-style: normal; /* Стиль шрифта (наприклад, normal - не курсив) */
  }


  body {
    font-family: 'TT Hoves', sans-serif;
   
  }
  

/* ................................. */
.wrapper{
    max-width: 1170px;
    margin: 0 auto;
}

header{
    display: flex;

}
/* //////// */
.logo{
    position: relative; /* Встановіть позицію відносної, щоб дів знаходився всередині контейнера. */
    width: 68.553px;
    height: 41.527px;
    margin: 29.14px 330px 31.33px 0;
}

@media(max-width:1024px){
    .logo{
        margin-right: 250px;
        flex-wrap: nowrap;
    }
}

@media(max-width:768px){
    .logo{
        margin-right: 100px;
    }
}



.logo__img{
    width: 68.553px;
    height: 41.527px;

}

.logo__text{
    position: absolute;
    bottom: 0; /* Розміщення в нижньому краю контейнера */
    left: 0; /* Розміщення в лівому краю контейнера */
    width: 68.552px;
    height: 12.452px;
}


.menu{
    display: flex;
    flex-wrap: wrap;
    margin: 44.69px 0 45.66px 0;
}
@media(max-width:568px){
    .logo{
      margin: 20px 10px 10px 10px;  
    }
    .menu{
        width: 100px;
        margin: 10px 10px 10px 20px;  ;
    }
}


.menu__item{
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 2.4px;
    text-transform: uppercase;
}

.menu__item:not(:last-child){
    margin-right: 60px;

}


/* ///////////////////////////////////////////////////////////////////// */
.block_information{
    display: flex;
    /* align-items: center; */
}



.block_information__main_name{
    width: 278px;
    height: 128px;
    margin-top: 333px;
    margin-right: 122px;
    
}

.block_information__project{
    font-size: 64px;
    color: #bdbdbd;
    font-weight: 300;
    line-height: 64px;
}

.block_information__home{
    color: #333;
    font-size: 64px;
    font-weight: 700;
    line-height: 64px;
}

.block_information__arrows{
    margin-top: 90px;
}

.block_information__button{
    width: 53px;
    height: 53px;
    border: 1px solid #f2f2f2;
    background: #f9f9f9;
}

.block_information__button:last-child{
    margin-left: 23px;
}

.block_information__number{
    display: flex;
    margin-top: 90px;
}

.block_information__num{
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    color: #bdbdbd;
}

.num_1{
    margin-right: 25.98px;
}

.num_2{
    margin-left: 31.97px;
}
@media(max-width:1024px){
    .block_information{
        flex-wrap: wrap;
        justify-content: center;
    }

    .block_navigation{
        width: 500px;
    }

    .block_information__main_name{
        width: 100%;
        margin-top: 40px;
        display: flex;
        justify-content: center;
    }

    .block_information__project{
        font-size: 50px;
    }
    
    .block_information__home{
        font-size: 50px;  
    }

    .block_information__arrows{
        margin-top: 10px;
        display: flex;
        justify-content: center;
    }

    .block_information__number{
        margin-top: 30px;
        justify-content: center;
    }
}


@media(max-width:768px){

}

/* /////////////////////////////////////// */


.block_photo{
    position: relative;
    
}

.button_click{
    position: absolute;
    bottom: 0; 
    left: 0; 
}

.batton_click_element{
    display: flex;
    width: 222px;
    height: 71px;
    background-color: #fff;
}

.block_photo__img{
    width: 770px;
    height: 829px;
}

.button_click__name{
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 2.4px;
    text-transform: uppercase;

    margin: 30px 0 29px 50.34px;
}

.button_click__arrow{
    margin: 24px 49.66px 23px 12px;

    width: 24px;
    height: 24px;

}

@media(max-width:1024px){
    .block_photo__img{
        width:600px;
        height: 729px;
    }
}

@media(max-width:768px){
    .block_photo__img{
        width: 400px;
        height: 550px;
    }
}

/* ////////////////////////////////////// */

.block_about{
    margin-top: 120px;

    display: flex;
    width: 1170px;
    height: 435px;

    background-color: #FBFBFB;
}

.block_about__img8{
    position: absolute;
    margin: 30px 800px 170px 100px;
}

.block_about__img9{
    position: absolute;

    margin: 60px 500px 60px 400px;
}

.block_about__img10{
    position: absolute;

    margin: 325px 800px 0 100px;
}

.block_about__description{
    margin: 30px 70px 121px 700px;
}

.block_about__description{
    width: 400px;
}

.block_about__main_description{
    width: 354px;
    font-size: 64px;
    font-weight: 300;
    color: #bdbdbd;
    line-height: 64px; 
}

@media (max-width:568px){
    .block_about__main_description{
        font-size: 30px;
    }

}

.block_about__desc{
    width: 400px;
    height: 200px;
    margin-top: 20px;

    color: #000;
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
}

@media(max-width:1024px){
    .block_about{
        width: 100%;
        flex-direction: column;
        height: 100%;
    }

    .block_about__photo{
        margin: 5% 5% 5% 5%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .block_about__img8{
        position: inherit;
        margin: 0;

    }
   

    .block_about__img9{
        position: relative;
        margin: 0;
    }

    .block_about__img9 img{
        
    }
    

    .block_about__img10{
        position: inherit;
        margin: 0;    
    }

    
    .block_about__img19 img{}


    .block_about__description{

        width: 100%;
        margin: 10px ;
    }
    .block_about__desc{
        width: 100%;
    }
}

/* /////////////////////// */

.block_main_task{
    margin-top: 150px;
}

.main__title{
    font-size: 64px;
    font-weight: 300;
    color: #bdbdbd;
    line-height: 64px;
}

.block_main_task__information{
    display: flex;
    margin-top: 60px;

}

.block_main_task__inf{
    display: flex;
    height: 144px;
}

.block_main_task__inf:last-child{
    margin-left: 187px;
}

.block_main_task_number__1{
    width: 104px;
    height: 140px;
    margin-right: 30px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;

    color: #f2f2f2;
    font-size: 200px;
    font-weight: 900;
}

.block_main_task_number__2{
    width: 120px;
    height: 140px;
    margin-right: 30px;
    

    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;

    color: #f2f2f2;
    font-size: 200px;
    font-weight: 900;
}

.block_text__1{
    width: 279px;

    font-size: 22px;
    font-weight: 400;
    line-height: 36px;
}

.block_text__2{
    width: 420px;

    font-size: 22px;
    font-weight: 400;
    line-height: 36px;
    font-style: normal;
}

@media(max-width:1024px){
    .block_main_task__information{
        display: flex;
        flex-wrap: wrap; 
        height: auto;
    }
    .block_main_task__inf:last-child{
        margin-left: 0px;
        margin-top: 100px;
    }
    .block_main_task__inf{
        height: auto;
    }
    .block_text__1{
        width: 100%;
        height: auto;
    }
    .block_text__2{
        width: 100%;
        height: auto;
    }  
    
    .block_main_task__text{

    }
}

/* ///////////////////////////////// */

.block_our_project{
    margin-top: 120px;
}

.block_our_project_img{
    margin-top: 60px;
    height: auto;
}

.block_our_project__img_block{
    display: flex;
    margin-top: 30px;
}

.block_our_project__img_block div img{
    width: 100%; 
}

.block_our_project_1{
    width: 570px;
    height: auto;

    position: relative;
}

.block_our_project__text_block{
    position: absolute;
    top: 50%; /* По вертикали, вибираємо середину вищини */
    left: 50%; /* По горизонталі, вибираємо середину ширини */
    transform: translate(-50%, -50%); /* Зсув до центру */ 
    
}

.block_our_project__text_img{
    color: #fff;
    font-size: 64px;
    font-weight: 700;
    line-height: 64px;
}

.block_our_project__tect{
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 2.4px;
    margin-right: 12px;

    padding: 6px 0px 6px 0px;
}

.block_our_project_button_img{
    display: flex;
    margin-top: 8px;
    width: 129px;
    height: 24px;
}

.block_our_project__arr{
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
}

.block_our_project__arr img{
    width: 17.207px;
    
}

.block_our_project_2{
    width: 570px;
    height: auto;
    margin-left: 30px;
}

.block_our_project_3{
    width: 270px;
    height: auto;
}

.block_our_project_4{
    width: 470px;
    height: auto;
    margin-left: 30px;
}

.block_our_project_5{
    width: 370px;
    height: auto;
    margin-left: 30px;
}

@media(max-width:1024px){
    .block_our_project__text_img{
        font-size: 50px;
        line-height: 50px;
    }

    .main__title{
        font-size: 50px;
    }
    .block_our_project_img{
        margin-top: 50px;
    }
}

@media(max-width:768px){
    .block_our_project__text_img{
        font-size: 35px;
        line-height: 35px;
    }

    .main__title{
        font-size: 40px;
    }

    .block_our_project_img{
        margin-top: 40px;
    }
    
}

@media(max-width:568px){
    .block_our_project__text_img{
        font-size: 15px;
        line-height: 15px;
    }

    .block_our_project_img{
        margin-top: 0px;
    }
}


/* /////////////////////////////////// */
.block_our_project_button{
    margin-top: 30px;
    float: right;
    
}



.button_click_black{
    background-color: #333;
    width: 222px;
    height: 71px;

    display: flex;
}

.button_click__name_black{
    color: #FFF;
    font-family: TT Hoves;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px; /* 100% */
    letter-spacing: 2.4px;
    text-transform: uppercase;
    height: 12px;
    margin-left: 39px;
    margin-top: 30px;
}

.button_click__arrow_black{
    margin-top: 24px;
    margin-left: 12px;
}

/* /////////////////////////////////////////// */

.block_contact{
    margin-top: 222px;
}



.block_contact__main{
    display: flex;
    margin-top: 22px;
}

.block_contact__items :not(:last-child)  input{
    margin-bottom: 10px;
    height: 45px;
}

.block_contact__item input{
    background-color:  #f3f3f3;
    border: none;
    height: 147px;
    width: 391px;
}

.block_contact__img{
    width: 749px;
    height: 367px;
    margin-left: 30px;
}

.block_contact__img img{
    max-width:100%;
    height: auto;
}

input{
    /* padding: 10px; */
}

input::placeholder{
    color: #8D8D8D;;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.56px;
    line-height: normal;
    font-style: normal;
   

    position: absolute;
    top: 0;
    left: 0;

    margin-top: 15px;
    margin-left: 21px;
}


@media(max-width:1024px){
    .block_contact__main{
        flex-wrap: wrap;
        justify-content: center;
    }

    
    .block_contact__img{
        margin-top: 20px;
        margin-left: 0px;
        width: 600px;
        height: auto;
    }
}

@media(max-width:768px){
    .block_contact__main{
    }

    .block_contact__img{
        width: 400px;
    }
    .block_contact__item input{
       margin-left: 10px;
       margin-right: 10px;
    }
}

@media(max-width:568px){
    .block_contact__main{
        max-width: 100%;
    }
    .block_contact__items{
        width: 80%;
        height: auto;
    }

    .block_contact__item:not(:last-child) input{
        width: 100%;
        height: 20px;

        margin: 0 0 10px 0;
    }

    .block_contact__item:last-child input{
        width: 100%;
        height: 80px;

        margin: 0;
    }

    input::placeholder{
    font-size: 10px;
    font-weight: 400;
    
   

    position: absolute;
    top: 0;
    left: 0;

    margin-top: 5px;
    margin-left: 5px;
    }
}

/* /// */
.block_contact__text{
    width: 331px;
    height: 34px;

    margin-top: 22px;
    margin-left: 40px;

    color: #333;

    font-family: TT Hoves;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.42px;
}

@media (max-width:568px) {
    .block_contact__text{
        width: auto;

        margin-bottom: 15%;
    }
}

.block_information__btn{
    margin-top: 21px;
}

/* ...................................... */

footer{
    background-color: #333;

    margin-top: 120px;
    height: 417px;
    padding-top: 58px;
    
}

.footer_container{
    max-width: 1325px;
    margin: 0 auto;
    
    display: flex;
    flex-wrap: wrap;

    color: #fff;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.42px;
}

.footer__logo{
    width: 145px;
    height: 94px;
}
/* ////// */
.footer__block_information{
    margin-left: 100px;
}

.footer__block_contact{
    margin-left: 157px;  
}

.footer__main_text{
    font-size: 16px;
    font-weight: 700;
    font-style: normal;
    line-height: normal;
    margin-bottom: 25px;
}


.footer_text{
    margin-bottom: 16px;
    height: 24px;

    color: #FFF;

    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; 
    letter-spacing: 0.42px;
}


.geolacation_lable{
    margin-right: 5px;
}

.contact_block{
    display: flex;
}

.contact_text{
    margin-left: 14px;
}

.contact_block__text_item{
    width: 239px;
    height: 72px;
    margin-bottom: 31px;

    color: #FFF;

    font-family: TT Hoves;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 171.429% */
    letter-spacing: 0.42px
}

/* //// */
.contact_block__number{
    margin-bottom: 33px;
}

/* //// */

.footer__network{
    margin-left: 145px;
}

.network__lable_block{
    display: flex;
}

.network__lable:not(:last-child){
    margin-right: 40px;
}

.facebook__lable{
    width: 10px;
    height: 19px;
}

.twitter__lable{
    width: 22px;
    height: 17px;
}

.Linked__lable{
    width: 20px;
    height: 20px;
}

.pininterest__lable{
    width: 14px;
    height: 19px;
}
/* 
/////////////////////// */

.footer_line{
    height: 1px;
    width: 100%;
    margin-top: 60px;

    background-color: #FFF;
    stroke-width: 1px;
    stroke: #FFF;

    opacity: 0.1;
}


/* /////////////////////// */

.fotter_text{
    display: flex;
    justify-content: center;
    margin-top: 24px;
    margin-bottom: 24px;
}

.footer_end_text{
    color: rgba(200, 200, 200, 0.50);
    font-family: Open Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; 
}


@media(max-width:1200px){
    .footer__block_information{
        margin-left: 50px;
    }

    .footer__block_contact{
        margin-left: 50px;  
    }

    .footer__network{
        margin-left: 50px;
    }

    .footer__block{
        margin-bottom: 80px;
        
    }

    .footer__logo{
        background-color: wheat;
        justify-content: center;
        width: 100%;
        display: flex;
        margin-bottom: 50px;
    }
    
}


@media(max-width:1042px){
    .footer_container{
        flex-direction: column;
        
    }

    footer{
        height: auto;
    }
    
}